/bin/*
/apikeys.json
/apikeys.Development.json
/mmangold.com.csproj.user
/obj/Debug/netcoreapp2.0
/obj/Release/netcoreapp2.0
/obj/mmangold.com.csproj.EntityFrameworkCore.targets
/.vs/mmangold.com
/.vs/config/applicationhost.config
/mmangold.com.sln.DotSettings.user
/Migrations/SiteDbContextModelSnapshot.cs
/Migrations/20190316190519_InitialCreate.Designer.cs
/site.db
